body{
    font-family: 'Roboto', sans-serif;
font-size:xx-large;



}
.title{
    text-align:center;
    padding-top: 250px;
    

}
.fontsize{
    font-size:small;
    text-align: center;
    margin-top: 50px;
}
span{
    color: white;
}
.textdec{
    text-decoration: none;
    background-color:red;
    border-radius: 5px;
    margin-left: 650px;
    margin-top: 100px;
    color: orange;

}
.seconddhap{
    margin: top 200px; ;

}
.sd{

}

.backimg{
    background-image: url("../images/donation13.jpg");
    background-size: 100%;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}
.center{
    text-align: center;
    margin-top: 100px;
}
.tk{
    text-align: center;
    margin-top: 100px;
}
.textdeco{
    text-decoration: none;
    background-color:yellow;
    border-radius: 5px;
    margin-left: 650px;
    margin-top: 100px;
    color: black;
}
.divone{
    font-size: small;
    text-align: left;
}
.flexiblecon{
display: flex;
margin-top: 100px;
box-sizing: border-box;
box-shadow: 10;


}
.divtwo{
    font-size: small;
    text-align: center;

}

.divthree{
    font-size: small;
    text-align: right; 
}
.marginright{
    margin-right: 150px;
}
.marginleft{
    margin-left: 150px;
}